// ---- COLOR DEF ZONE ---- //

$mainColor11 : #000000;
$mainColor12 : darken($mainColor11, 10%);
$mainColor13 : lighten($mainColor11, 10%);

$mainColor21 : #FF0000;
$mainColor22 : darken($mainColor21, 10%);
$mainColor23 : lighten($mainColor21, 10%);

$mainColor31 : #FFFFFF;
$mainColor32 : darken($mainColor31, 10%);
$mainColor33 : lighten($mainColor31, 10%);


// ------------------------ //


// ---- SIZES DEF ZONE ---- //


$mainPadding : 10px;
$navbarHeigth : 30px;
$footerHeigth : 15px;
$navbarAPadding : 5px;



// ------------------------ //


// ---- RESET CSS ZONE ---- //

html, body{
    height: 100%;
    width: 100%;
}

.container-fluid{
    height: 100%;
    width: 100%;
    padding: 0;
}

h1,h2,h3,h4,h5{
    margin:0;
}

// ------------------------ //

.navbar{
    min-height: $navbarHeigth;
    height:$navbarHeigth;
    padding: 0;
    > *{
        height: $navbarHeigth;
    }
    img{
        height: 100%;
    }
    .navbar-header{
        float: left;
    }
    .navbar-nav {
        margin: 0;
        li{
            height: 100%;
            float: left;
            a {
                padding:$navbarAPadding 15px;
            }
        }
        .active {
            color: $mainColor31;
        }
    }
}

.main{
    > div {
        overflow: scroll;
        padding: $navbarHeigth $mainPadding $footerHeigth $mainPadding;
        height: 100%;
        width: 100%;
    }
}

.list{
    margin:0;
}

.loader{
    position: absolute;
    width:100%;
    height: 100%;
    background: $mainColor13;
    opacity:0.8;
    z-index:10;
    > * {
        background: $mainColor31;opacity: 1;
        position: absolute;
        top:50%;
        left:50%;
        margin-top:-25px;
        margin-left:-25px;
        height: 50px;
        width: 50px;
    }
}

footer{
    width: 100%;
    height:$footerHeigth;
    position:fixed;
    bottom:0;

    text-align: center;

    font-size: 80%;
    color: $mainColor32;
    background: $mainColor11;
}

.btn-custom{
    background: $mainColor11;
    color:$mainColor31;
    &:hover{
        color:$mainColor32;
        background: $mainColor13;
    }

    margin-bottom: 10px;
}

.button-zone{
    text-align: right;
}