@import url(../lib/spinkit/css/spinkit.css);
html, body {
  height: 100%;
  width: 100%; }

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.navbar {
  min-height: 30px;
  height: 30px;
  padding: 0; }
  .navbar > * {
    height: 30px; }
  .navbar img {
    height: 100%; }
  .navbar .navbar-header {
    float: left; }
  .navbar .navbar-nav {
    margin: 0; }
    .navbar .navbar-nav li {
      height: 100%;
      float: left; }
      .navbar .navbar-nav li a {
        padding: 5px 15px; }
    .navbar .navbar-nav .active {
      color: #FFFFFF; }

.main > div {
  overflow: scroll;
  padding: 30px 10px 15px 10px;
  height: 100%;
  width: 100%; }

.list {
  margin: 0; }

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  opacity: 0.8;
  z-index: 10; }
  .loader > * {
    background: #FFFFFF;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px; }

footer {
  width: 100%;
  height: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 80%;
  color: #e6e6e6;
  background: #000000; }

.btn-custom {
  background: #000000;
  color: #FFFFFF;
  margin-bottom: 10px; }
  .btn-custom:hover {
    color: #e6e6e6;
    background: #1a1a1a; }

.button-zone {
  margin: 10px 0;
  text-align: right; }

.center {
  text-align: center; }

.pagination-zone {
  text-align: center; }
  .pagination-zone li > a {
    color: #000000; }
    .pagination-zone li > a:hover {
      background: #e6e6e6;
      border-color: #cc0000; }
  .pagination-zone .active a {
    background: #FF0000;
    border-color: #cc0000; }
    .pagination-zone .active a:hover {
      background: #FF0000;
      border-color: #cc0000; }

.home {
  margin-left: 0; }
  .home div {
    padding-top: 10px; }
  .home h1 {
    font-size: 190%; }

.frieze {
  text-align: center; }

.creator-list .creator-list-element {
  line-height: 100px; }
  .creator-list .creator-list-element a {
    display: block;
    width: 100%;
    height: 100%; }
  .creator-list .creator-list-element * {
    display: inline-block;
    vertical-align: middle; }
  .creator-list .creator-list-element:hover {
    background: #e6e6e6;
    cursor: pointer; }

.creator-single .col-text {
  margin-top: 5px; }
  .creator-single .col-text h1 {
    border-bottom: 2px solid black; }
.creator-single .col-img {
  margin-top: 10px;
  text-align: center; }
  .creator-single .col-img img {
    max-width: 100%; }

.comic-list .comic-list-element {
  line-height: 100px; }
  .comic-list .comic-list-element a {
    display: block;
    width: 100%;
    height: 100%; }
    .comic-list .comic-list-element a div {
      max-width: 50%;
      line-height: normal; }
  .comic-list .comic-list-element * {
    display: inline-block;
    vertical-align: middle; }
  .comic-list .comic-list-element:hover {
    background: #e6e6e6;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
