<div class="creator-single">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-img">
            <img src="{{creator.thumbnail.path}}/portrait_incredible.{{creator.thumbnail.extension}}">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-text">
            <h1>{{creator.fullName}}</h1>
            <accordion close-others="false">
                <accordion-group ng-if="creator.series.available > 0">
                    <accordion-heading>
                        <div ng-click="initialLoading('series')">Series ({{creator.series.available}})</div>
                    </accordion-heading>
                    <ul>
                        <li ng-repeat="serie in datas['series'].elements">{{serie.title}}</li>
                    </ul>
                    <div class="pagination-zone">
                        <pagination total-items="creator.series.available" items-per-page="elementByPage" ng-model="datas['series'].page" ng-change="load('series', datas['series'].page)" max-size="3" ></pagination>
                    </div>
                </accordion-group>
                <accordion-group ng-if="creator.comics.available > 0">
                    <accordion-heading>
                        <div ng-click="initialLoading('comics')">Comics ({{creator.comics.available}})</div>
                    </accordion-heading>
                    <ul>
                        <li ng-repeat="comic in datas['comics'].elements"><a ui-sref="comic_single({id:comic.id})">{{comic.title}}</a></li>
                    </ul>
                    <div class="pagination-zone">
                        <pagination total-items="creator.comics.available" items-per-page="elementByPage" ng-model="datas['comics'].page" ng-change="load('comics', datas['comics'].page)" max-size="3" ></pagination>
                    </div>
                </accordion-group>
                <accordion-group ng-if="creator.stories.available > 0">
                    <accordion-heading>
                        <div ng-click="initialLoading('stories')">Stories ({{creator.stories.available}})</div>
                    </accordion-heading>
                    <ul>
                        <li ng-repeat="story in datas['stories'].elements">{{story.title}}</li>
                    </ul>
                    <div class="pagination-zone">
                        <pagination total-items="creator.stories.available" items-per-page="elementByPage" ng-model="datas['stories'].page" ng-change="load('stories', datas['stories'].page)" max-size="3" ></pagination>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>